<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenidos a Wazu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="CSS/estilos.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    
    
<body>
    <audio autoplay>
      <source src="imagenes/jingle2.mp3" type="audio/mp3">
    </audio>
    
       <div th:replace="fragments/header :: header"></div>
               
            <div class="slider" > 
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
              
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="imagenes/NewWazu.png" alt="New Wazu" style="width:1142px; height:400px;">
                    </div>
              
                    <div class="item">
                      <img src="imagenes/0001.jpg" alt="Logo" style="width:1142px; height:400px;">
                    </div>
                  
                    <div class="item">
                      <img src="imagenes/gatito.jpg" alt="Gatito" style="width:1142px; height:400px;">
                    </div>
                  </div>
              
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>

            
            <div class="contenedor-box">
                <aside>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo magnam odio. Eum, cum modi. Rem officiis possimus ipsum earum vero nam magnam saepe quis, sed optio? Saepe, minima harum.
                    </p>
                </aside>
                <aside-2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo magnam odio. Eum, cum modi. Rem officiis possimus ipsum earum vero nam magnam saepe quis, sed optio? Saepe, minima harum.
                  </p>
              </aside-2>
              <aside-3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo magnam odio. Eum, cum modi. Rem officiis possimus ipsum earum vero nam magnam saepe quis, sed optio? Saepe, minima harum.
                </p>
            </aside-3>
            </div>
   <!-- inicio del scroll info 'noticias' -->
       
   <div class="scroll-box">      
      <table  style="margin:auto ; margin-top: 3%; margin-bottom: 3%;"	>
        <tr>
          <td>
             <table cellspacing="0" cellpadding="0" border ="1" width="500" >
               <tr style="color:white;background-color:black">
                  <th>Noticias</th>
               </tr>
             </table>
          </td>
        </tr>
        <tr>
          <td>
             <div style="background-color: silver; background-attachment: fixed; width:500px; height:200px; overflow:auto;">
                     
      <table  cellspacing="0" cellpadding="0" border="0" width="300" >
 <div class="media">
    <div class="media-left">
      <img src="imagenes/brainlogo.png" class="media-object" style="width:45px">
    </div>
</div>
    
    
    
    <div class="media-body">
      <h4 class="media-heading">New Patch 2.1.0 <small><i>Posted on July 23, 20</i></small></h4>
      <p>Nuevo modelo de preguntas, aportale a tu cerebro los conocimientos necesarios para una buena salud y en casos de emergencia</p>
      
      <!-- Nested media object -->
      <div class="media">
        <div class="media-left">
          <img src="imagenes/brainlogo.png" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">John Doe <small><i>Posted on February 20, 2016</i></small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <!-- Nested media object -->
          <div class="media">
            <div class="media-left">
              <img src="imagenes/brainlogo.png" class="media-object" style="width:45px">
            </div>
            <div class="media-left">
              <h4 class="media-heading">Wazu Developers <small><i>Posted on August 21, 2020</i></small></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          
        </div>
        
        <!-- Nested media object -->
        <div class="media">
          <div class="media-left">
            <img src="imagenes/brainlogo.png" class="media-object" style="width:45px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Jane Doe <small><i>Posted on February 20, 2016</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- Nested media object -->    
    <div class="media">
      <div class="media-left">
        <img src="imagenes/brainlogo.png" class="media-object" style="width:45px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Jane Doe <small><i>Posted on February 19, 2016</i></small></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

          </table>  
            </div>
         </td>
       </tr>
     </table>
            </div>
       <!-- inicio del scroll info 'noticias' -->
      
       <!--inicio de footer-->
            <div th:replace="fragments/footer :: footer"></div>
            <!--fin del footer-->
        <form th:action="@{/logout}" method="post" id="logout"></form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>