<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenidos a Wazu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="100%, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/sheet.css">
    <link rel="stylesheet" href="CSS/estilo.css">
</head>
    
    
<body style="background-image:url('imagenes/wallgame_2.png'); background-attachment: fixed;">
<p th:text="'Hello, ' + ${nombre} + '!'" />
    <audio autoplay>
      <source src="imagenes/jingle2.mp3" type="audio/mp3">
    </audio>
    
   <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="inicio">Wazu</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="login">Iniciar Sesión</a></li>
      <li><a href="registro">Registarse</a></li>
      <li><a href="jugar">Jugar!!</a></li>
    </ul>
  </div>
</nav>

<div align="center" class="container" style="margin-top:100px">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="imagenes/NewWazu.png" style="width:1142px; height:400px;">
            </div>
      
            <div class="item">
              <img src="imagenes/0001.jpg" style="width:1142px; height:400px;">
            </div>
          
            <div class="item">
              <img src="imagenes/gatito.jpg" style="width:1142px; height:400px;">
            </div>
</div>
    
          <!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      
<div class="text-box">
<img src="imagenes/guy2.png" class="cartoon" alt="cartoon Image">
</div>

<div class="text-box2">
<img src="imagenes/guy.png" class="cartoon2" alt="cartoon Image">
</div>

<div class="text-box3">
<img src="imagenes/cerebro-caricatura-png-1.png" class="cartoon3" alt="cartoon Image">
</div>

      <!-- inicio del scroll info 'noticias' -->
      <table style="margin-left:100px; margin-top:400px" cellspacing="0" cellpadding="0" border ="1" width="325">
        <tr>
          <td>
             <table cellspacing="0" cellpadding="0" border ="1" width="500" >
               <tr style="color:white;background-color:black">
                  <th>Noticias</th>
               </tr>
             </table>
          </td>
        </tr>
        <tr>
          <td>
             <div style="background-color: silver; background-attachment: fixed; width:500px; height:200px; overflow:auto;">
                     
      <table  cellspacing="0" cellpadding="0" border="0" width="300" >
 <div class="media">
    <div class="media-left">
      <img src="imagenes/img_avatar1.png" class="media-object" style="width:45px">
    </div>
</div>
    
    
    
    <div class="media-body">
      <h4 class="media-heading">New Patch 2.1.0 <small><i>Posted on July 23, 20</i></small></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
      <!-- Nested media object -->
      <div class="media">
        <div class="media-left">
          <img src="imagenes/img_avatar2.png" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">John Doe <small><i>Posted on February 20, 2016</i></small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <!-- Nested media object -->
          <div class="media">
            <div class="media-left">
              <img src="imagenes/img_avatar3.png" class="media-object" style="width:45px">
            </div>
            <div class="media-left">
              <h4 class="media-heading">Wazu Developers <small><i>Posted on August 21, 2020</i></small></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          
        </div>
        
        <!-- Nested media object -->
        <div class="media">
          <div class="media-left">
            <img src="imagenes/img_avatar4.png" class="media-object" style="width:45px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Jane Doe <small><i>Posted on February 20, 2016</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- Nested media object -->    
    <div class="media">
      <div class="media-left">
        <img src="imagenes/img_avatar5.png" class="media-object" style="width:45px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Jane Doe <small><i>Posted on February 19, 2016</i></small></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

          </table>  
            </div>
         </td>
       </tr>
     </table>
      <!-- fin del scroll -->
      
   <div class="container">
     <h2>Ayudanos a crecer</h2>
      <!-- Trigger the modal with a button -->
       <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Presiona aquí.</button>
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ayudanos a crecer!!!</h4>
              </div>
              <div class="modal-body">
                <p>Puedes ayudarnos compartiendo nuestra página en redes sociales o donando en nuestra cuenta: 17832824 del Banco Estado.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div> 
          </div>
        </div>
      </div>
</body>
</html>