<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>WAZU LOGIN</title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
   <link rel="stylesheet" href="CSS/estilo2.css">
   <link rel="stylesheet" href="CSS/estilos.css">
   <link href="/CSS/bootstrap.css" rel="stylesheet" th:href="@{/CSS/bootstrap.css}">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
   
	<audio autoplay>
		<source src="imagenes/jingle2.mp3" type="audio/mp3">
	</audio>
	
	<div th:replace="fragments/header :: header"></div>
	
	<div class="alert alert-info" th:if="${param.logout}">Sesión
		cerrada</div>
	<div class="alert alert-danger" th:if="${param.error}">Error en
		usuario o password</div>

    <div class="container">
      <div class="login-container">
        <div class="register">
          <img src="imagenes/brainlogo.png" class="avatar" alt="Avatar Image">
          <form th:action="@{/login}" method="post">
          <form action="">
            <div class="input-group">
			<span class="texto">Nombre Usuario</span> <input type="text" name="username" class="form-control" />
		</div>
		<div class="input-group">
			<span class="texto">Password</span> <input type="password" name="password" class="form-control" />
		</div>
		<br>
		<div>
			<input type="submit" value="Ingresar" />
		</div>
          </form>
        </div>
      </div>
    </div>
	<div th:replace="fragments/footer :: footer"></div>
	
</body>
</html>