<html>
<link rel="stylesheet" href="CSS/estilo2.css">
<title>Registro Wazu</title>
<body>
<audio autoplay>
      <source src="imagenes/jingle2.mp3" type="audio/mp3">
    </audio>
    <div class="container">
      <div class="login-container">
        <div class="register">
          <img src="imagenes/logo.png" class="avatar" alt="Avatar Image">
          <h2 class="*">Registro</h2>
          <form action="">
            <input type="text" placeholder="Nombre" class="nombre">
            <input type="text" placeholder="Correo" class="correo">
            <input type="password" placeholder="Clave" class="pass">
            <input type="password" placeholder="Confirma Clave" class="repass">
            <input type="submit" class="submit" value="Registrarse">
          </form>
        </div>
      </div>
    </div>
 </body>
 </html>