<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="CSS/estilos.css">
</head>
<body>
   <footer class="ct-footer" th:fragment="footer">
                
                    <form name="contentForm" enctype="multipart/form-data" method="post" action="">
                        <div class="ct-footer-pre text-center-lg">
                            <div class="inner">
                                <span>Únete a la comunidad Wazu para recibir actualizaciones, noticias y eventos!</span>
                            </div>
                            <div class="inner">
                                <div class="form-group">
                                    <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Ingresa tu email" type="text" value=""> <label for="nl_email" class="sr-only">Email Address</label> <button type="submit" class="btn btn-motive">¡Únete ahora!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul class="ct-footer-list text-center-sm">
                      
                      
                        <li>
                            <h2 class="ct-footer-list-header">
                                WazuWeb
                            </h2>
                            <ul>
                             
                                <li>
                                    <a href="">Eventos</a>
                                </li>
                                <li>
                                    <a href="">Publicidad</a>
                                </li>
                                <li>
                                    <a href="">Anuncios</a>
                                </li>
                            
                            </ul>
                        </li>
             
                    </ul>
                    <div class="ct-footer-meta text-center-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-2">
                                <img alt="logo" src="imagenes/logo.png">
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <address>
                                    <span>WazuWeb<br></span>Avenida siempre viva 1234<br>
                                    <span>Phone: <a href="tel:5555555555">(569)454238</a></span>
                                </address>
                            </div>
                            <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                                <a href="" target="_blank"><img alt="app store" src="imagenes/appstore.png"></a>
                            </div>
                            <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                                <a href="" target="_blank"><img alt="google play store" src="imagenes/androidstore.png"></a>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <ul class="ct-socials list-unstyled list-inline">
                                    <li>
                                        <a href="" target="_blank"><img alt="facebook" src="imagenes/facebook-white.png"></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img alt="twitter" src="imagenes/twitter-white.png"></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img alt="youtube" src="imagenes/youtube-white.png"></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img alt="instagram" src="imagenes/instagram-white.png"></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img alt="pinterest" src="imagenes/pinterest-white.png"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ct-footer-post">
                    <div class="container">
                        <div class="inner-left">
                            <ul>
                                <li>
                                    <a href="">Contáctanos</a>
                                </li>
                                  <li>
                                    <a href="">¡Trabaja con nosotros!</a>
                                </li>
                            </ul>
                        </div>
                        <div class="inner-right">
                            <p>
                                Copyright © 2020 WazuWebCo.&nbsp;<a href="">Politicas de Privacidad</a>
                            </p>
                        </div>
                    </div>
                </div>
       </footer>
</body>
</html>